<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tP1_IDM -->
      <package
            uri="http://www.example.org/tP1_IDM"
            class="tP1_IDM.TP1_IDMPackage"
            genModel="model/tP1_IDM.genmodel"/>
   </extension>

</plugin>
