<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tP1_IDM -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tP1_IDM.presentation.TP1_IDMModelWizardID"
            name="%_UI_TP1_IDMModelWizard_label"
            class="tP1_IDM.presentation.TP1_IDMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TP1_IDMModelFile.gif">
         <description>%_UI_TP1_IDMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tP1_IDM -->
      <editor
            id="tP1_IDM.presentation.TP1_IDMEditorID"
            name="%_UI_TP1_IDMEditor_label"
            icon="icons/full/obj16/TP1_IDMModelFile.gif"
            extensions="tp1_idm"
            class="tP1_IDM.presentation.TP1_IDMEditor"
            contributorClass="tP1_IDM.presentation.TP1_IDMActionBarContributor">
      </editor>
   </extension>

</plugin>
